html{
    height:100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background: #00c1b5;
    font-family: 'Arial';

    transition: background  1s;
    
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;

    /*
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background-color 500ms ease-out 200ms;
    -moz-transition: background-color 500ms ease-out 200ms;
    -o-transition: background-color 500ms ease-out 200ms;
    transition: background-color 500ms ease-out 200ms;
    */

    height:100%;
    width: 100%;
    left:0;
    margin-left: 0;
}

.header {
    
    padding-top: 20px;
    position: fixed;
    left: 15px;
    top: 0;
    z-index:2;
}

.section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height:100%;
    position:relative;
    width:100%;
    left:0%;
}
.header img {
    width: 260px;
    height: auto;
}

.middle{
    position:relative;
    top:50%;
    height:5%;
}
.middle .cover{
    text-align: center;
    position:relative;
}
.middle .cover img{
    width: 420px;
    position: relative;
}
.middle .cover p{
    margin-top: 0px;
}

.fullpage-wrapper {
    height: 100%; 
    position: relative; 
    touch-action: none;
}

.footer{
    position: fixed;
}
.footer .contact{
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 15px;
    margin-top: 0;
}

.menu {
    position: fixed;
    bottom: 0px;
    right: 15px;
    width: 200px;
    text-align: right;
    display: none;
    z-index: 3;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}
.menu a {
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}

@media (min-width: 992px) and (min-height: 650px){
    .middle .cover{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .footer{
        position: fixed;
    }
    .footer .contact{
        text-align: right;
        position: fixed;
        right: 15px;
        top: 20px;
    }
    .footer .description{
        position: fixed;
        bottom: 0;
        left: 22px;
        width: 320px;
        margin-top: 0;
    }
    .menu{
        display: block;
    }
}
@media (max-width: 991px) {
    .footer{
        position: absolute;
    }
    .footer .description{
        margin-top: 0px;
        position: absolute;
        left: auto;
        bottom: auto;
        width: auto;
    }
}
@media (max-width: 767px) {
    .header img{
        width: 160px;
    }
    .middle .cover img{
        width: 80%;
        max-width: 420px;
        height: auto;
    }
    .footer{
        margin-top: 30px;
    }
    .footer p{
        text-align: center;
        margin-bottom: 50px;
    }
    .footer .contact{
        position: absolute;
        right: auto;
        text-align: center;
    }
    .orin{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* 

#issue5{
    background-color: #00c1b5;
    
}
#issue4{
    background-color: #ff651a;
    
}
#issue3{
    background-color: #ffbe00;
}
#issue2{
    background-color: #1d3fbb;
}
#issue1{
    background-color: #e30512;
} 

*/ 